<p id="notice"><%= notice %></p>

<h1>Oblasts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Soate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oblasts.each do |oblast| %>
      <tr>
        <td><%= oblast.name %></td>
        <td><%= oblast.soate %></td>
        <td><%= link_to 'Show', oblast %></td>
      </tr>
    <% end %>
  </tbody>
</table>


